services:
  app:
    image: ghcr.io/mhsanaei/3x-ui:latest
    container_name: xui
    volumes:
      - ./db/:/etc/x-ui/
      - ./cert/letsencrypt:/root/cert:ro
      - ./init.d:/etc/init.d
    environment:
      XRAY_VMESS_AEAD_FORCED: "false"
      XUI_ENABLE_FAIL2BAN: "false"
    tty: true
    network_mode: host
    restart: unless-stopped
    depends_on:
      - certbot

  haproxy:
    image: haproxy:lts-alpine
    container_name: haproxy
    volumes:
      - ./haproxy/haproxy.cfg:/etc/haproxy/haproxy.cfg:ro
      - ./haproxy/entrypoint.sh:/entrypoint.sh:ro
      - ./cert/letsencrypt:/etc/letsencrypt:ro
    env_file:
      - .env
    user: root
    entrypoint: /entrypoint.sh
    network_mode: host
    restart: unless-stopped
    depends_on:
      - certbot

  certbot:
    image: certbot/dns-cloudflare:latest
    container_name: certbot_cf
    volumes:
      - ./cert/letsencrypt:/etc/letsencrypt
      - ./cert/logs:/var/log/letsencrypt
      - ./cert/certbot.sh:/certbot.sh:ro
    env_file:
      - .env
    entrypoint: /certbot.sh
    network_mode: host
    restart: unless-stopped