---
- name: Set DNS A-records in Cloudflare
  community.general.cloudflare_dns:
    zone: "{{ main_domain }}"
    record: "{{ item }}"
    type: A
    value: "{{ ansible_host }}"
    ttl: 1
    proxied: false
    api_token: "{{ cf_api_token }}"
    solo: true
  loop:
    - "{{ main_domain }}"
    - "{{ xui_panel_domain }}"
    - "{{ ssh_domain }}"
