---
- name: Stop xui container
  community.docker.docker_container:
    name: xui
    state: stopped
  failed_when: false

- name: Upload database to R2
  community.docker.docker_container:
    name: s3_upload
    image: "{{ awscli_image }}"
    command: >-
      s3 cp /data/x-ui.db
      s3://{{ r2_bucket }}/x-ui-{{ '%Y-%m-%d_%H%M' | strftime }}.db
      --endpoint-url {{ r2_endpoint }}
    volumes:
      - "{{ xui_dir }}/db:/data:ro"
    env:
      AWS_ACCESS_KEY_ID: "{{ r2_access_key }}"
      AWS_SECRET_ACCESS_KEY: "{{ r2_secret_key }}"
    detach: false
    cleanup: true
  no_log: true

- name: Start xui container
  community.docker.docker_container:
    name: xui
    state: started
  failed_when: false
